<!-- <div>

  <div class="w3-bottom w3-hide-small">
    <div class="w3-bar w3-white w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
      <a href="#us" style="width:33.33%" class="w3-bar-item w3-button">Khushbu & Avanish</a>
      <a href="#wedding" style="width:33.33%" class="w3-bar-item w3-button">Baby Shower</a>
      <a href="#rsvp" style="width:33.33%" class="w3-bar-item w3-button w3-hover-black">RSVP</a>
    </div>
  </div>

  <div class="w3-container w3-padding-64 w3-pale-red bgimg parallax" id="us">
 
    <div class="w3-content">
      <h2 class="w3-center w3-jumbo font-header top-slide">Twinkle Twinkle little star,can't wait to see how cute
          you are!</h2>

      <p class="w3-center btn-slide"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Baby Shower
          Details</a></p>
    </div>
  </div>

  <div class="w3-container w3-padding-64 section2" id="us">
    <div class="w3-content">
      <h1 class="w3-center title-slide"><b>Khushbu's Baby Shower</b></h1>
      <img class="w3-round img-slide" src="../assets/baby_shower1.jpg" style="width:100%;margin:32px 0">
      <p class="text-slide poem"><i>In one another (Dad-to-be) and (Mom-to-be) found love,<br/>
          Now here comes a baby from heaven above. <br/>
          A sweet little girl/boy to tuck in all snug,<br/>
          to love and to cuddle, to kiss and hug. <br/>
          Please join us in this joyous celebration!</i>
      </p><br>
      <p class="w3-center btn-slide"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Wedding
          Details</a></p>
    </div>
  </div>



  <div class="w3-container section-parallax bgimg parallax"></div>

  <div class="w3-container w3-padding-64 w3-center section3" id="wedding">
    <div class="w3-content">
      <h1 class="title-slide"><b>THE BABY SHOWER</b></h1>
      
      <img class="w3-round-large img-slide" src="../assets/venue.png" style="width:100%;margin:64px 0">
      <div class="w3-row">
        <h2 class="title-slide">Sunday, March 10th 2019</h2>
        <div class="w3-half right-slide">
          <h2>Time Frame</h2>
          <p>Baby Shower Ceremony - 9:00am to 4:00pm</p>
          <p>Breakfast - 10:00am to 11:00am</p>
          <p>Lunch - 1:00pm to 2:00pm</p>
        </div>
        <div class="w3-half left-slide">
          <h2>Location</h2>
          <p>Shree Swaminarayan Hindu Temple ISSO</p>
          <p>21W710 W Irving Park Rd,</p>
          <p>Itasca, IL 60143</p>
        </div>
      </div>
    </div>
  </div>


  <div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
    <h1 class="reveal1">HOPE YOU CAN MAKE IT!</h1>
    <p class="w3-large reveal2">Kindly Respond By February 25, 2019</p>
    <p class="w3-xlarge reveal3">
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off"
        style="padding:8px 60px">RSVP</button>
    </p>
  </div>


  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center center-font">
        <h1 class="w3-wide">CAN YOU COME?</h1>
        <p>We really hope you can make it.</p>
        <form>
          <input class="w3-input w3-border input-field" type="text" placeholder="Name(s)" name="name">
          <input class="w3-input w3-border input-field" type="number" placeholder="Number of member" name="people">
        </form>
        <p><i>Sincerely, Khushbu & Avanish</i></p>
        <div class="w3-row">
          <div class="w3-half">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
          </div>
          <div class="w3-half">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't
              come</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->


<div class="pimg1">
    <div class="heading" >
    <h3 class="w3-center title center-width-title">Twinkle Twinkle little star,can't wait to see how cute
        you are!</h3>
  <p class="w3-center center-width-button"><a href="#details" class="w3-button w3-black w3-round w3-padding-large w3-large">Baby Shower
          Details</a></p>
    </div>     
</div>

<section class="section section-light">
  <h2>Khushbu's Baby Shower</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor reio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
  </p>
</section>

<div class="pimg2">
  <div class="ptext">
    <span class="border trans">
      Baby Shower
    </span>
  </div>
</div>

<section class="section section-dark" id="details">
    <div class="w3-row">
        <h2>Sunday, March 10th 2019</h2>
        <div class="w3-half right-slide">
          <h2>Time Frame</h2>
          <p>Baby Shower Ceremony - 9:00am to 4:00pm</p>
          <p>Breakfast - 10:00am to 11:00am</p>
          <p>Lunch - 1:00pm to 2:00pm</p>
        </div>
        <div class="w3-half left-slide">
          <h2>Location</h2>
          <p>Shree Swaminarayan Hindu Temple ISSO</p>
          <p>21W710 W Irving Park Rd,</p>
          <p>Itasca, IL 60143</p>
        </div>
      </div>
</section>

<div class="pimg3">
  <div class="ptext">
    <span class="border trans">
      You are invited!
    </span>
  </div>
</div>

<section class="section w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
    <h1 class="reveal1">HOPE YOU CAN MAKE IT!</h1>
    <p class="w3-large reveal2">Kindly Respond By February 25, 2019</p>
    <p class="w3-xlarge reveal3">
      <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off"
        style="padding:8px 60px">RSVP</button>
    </p>
</section>

<!-- <div class="pimg1">
  <div class="ptext">
    <span class="border">
      Lorem ipsum!
    </span>
  </div>
</div> -->

<section class="section section-light">
    <h2>Khushbu's Baby Shower</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor reio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
    </p>
  </section>

<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
      <div class="w3-container w3-white w3-center center-font">
        <h1 class="w3-wide">CAN YOU COME?</h1>
        <p>We really hope you can make it.</p>
        <form>
          <input class="w3-input w3-border input-field" type="text" placeholder="Name(s)" name="name">
          <input class="w3-input w3-border input-field" type="number" placeholder="Number of member" name="people">
        </form>
        <p><i>Sincerely, Khushbu & Avanish</i></p>
        <div class="w3-row">
          <div class="w3-half">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Going</button>
          </div>
          <div class="w3-half">
            <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">Can't
              come</button>
          </div>
        </div>
      </div>
    </div>
  </div>